
div.testata {

    font-family: "Bodoni 48", serif; // 72 96
    
    h1 {
        font-weight: 900;
        font-size: ($u * 4) / 1.42;
        line-height: $u * 4;
        margin: 0;
        padding: 0;
    }

}
